<md-dialog ng-cloak aria-label="config interface dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">
                    {{ConfigInterfaceDialogCtrl.interf.label}}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ConfigInterfaceDialogCtrl.cancel()" aria-label="close button">
                    <div class="glyphicon glyphicon-remove"></div>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <!--<md-content layout-padding>-->
                    <form name="bDConfigForm">
                            <md-input-container flex ng-if="ConfigInterfaceDialogCtrl.interf.type==='iana-if-type:ethernetCsmacd'">
                                <label>
                                    Description
                                </label>
                                <input ng-model="ConfigInterfaceDialogCtrl.interf.description" flex>
                                <md-switch ng-model="ConfigInterfaceDialogCtrl.interf['admin-status']" ng-true-value="'up'" ng-false-value="'down'">Admin Status</md-switch>
                            </md-input-container>
                    </form>
                <!--</md-content>-->
            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" ng-show="ConfigInterfaceDialogCtrl.waiting"></md-progress-linear>
        <md-dialog-actions layout="row">
            <span flex></span>
            <label ng-hide="ConfigInterfaceDialogCtrl.interf['v3po:l2']['bridge-domain']">Assign to BD first.</label>
            <md-button ng-click="ConfigInterfaceDialogCtrl.updateConfig();" style="margin-right:20px;" class="md-accent" ng-if="(ConfigInterfaceDialogCtrl.interf.type==='iana-if-type:ethernetCsmacd')" ng-disabled="!ConfigInterfaceDialogCtrl.interf['v3po:l2']['bridge-domain']">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>