<div ng-controller="vppCtrl">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Inventory" md-on-select="setMainView('inventory')">
            <md-content class="md-padding">
                <section ng-if="mainView === 'inventory'" ng-include src="view_path+'inventory-table.tpl.html'"></section>
                <section ng-if="mainView === 'inventoryDetail'" ng-include src="view_path+'inventory-detail.tpl.html'"></section>
            </md-content>
        </md-tab>
        <md-tab label="Bridge Domains" md-on-select="setMainView('bridgeDomains')">
            <md-content class="md-padding">
                <section ng-if="mainView === 'bridgeDomains'" ng-include src="view_path+'bridge-domains.tpl.html'"></section>
            </md-content>
        </md-tab>
    </md-tabs>

    <!--<md-toolbar>
        <div class="md-toolbar-tools float-left">
            <span flex></span>
            <md-button ng-click="setMainView('inventory')">Inventory</md-button>
            <span flex></span>
            <md-button ng-click="setMainView('bridgeDomains')">Bridge Domains</md-button>
            <span flex></span>
        </div>
    </md-toolbar>

    <div ng-view style="height: 100%">



    </div>-->
</div>