<div ng-controller="vppCtrl">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Inventory" md-on-select="setMainView('inventory')">
            <md-content class="md-padding">
                <section ng-if="mainView === 'inventory'" ng-include src="view_path+'inventory-table.tpl.html'"></section>
                <section ng-if="mainView === 'inventoryDetail'" ng-include src="view_path+'inventory-detail.tpl.html'"></section>
            </md-content>
        </md-tab>
        <md-tab label="Bridge Domains" md-on-select="setMainView('bridgeDomains')">
            <md-content class="md-padding">
                <section ng-if="mainView === 'bridgeDomains'" ng-include src="view_path+'bridge-domains.tpl.html'" style="height:80%; overflow: hidden"></section>
            </md-content>
        </md-tab>
    </md-tabs>
</div>