<div ng-controller="InventoryTableController">
	<md-button ng-click="addVppShowForm()">Mount VPP</md-button>
	<md-button ng-click="getVppList()">Reload VPPs</md-button>

    <md-content layout-padding>
        <table st-table="displayVppList" st-safe-src="vppList" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="name">VPP Name</th>
                <th st-sort="ipAddress">IP Address</th>
                <th st-sort="port">Port</th>
                <th st-sort="status">Connection Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vpp in displayVppList">
                <td>{{vpp.name}}</td>
                <td>{{vpp.ipAddress}}</td>
                <td>{{vpp.port}}</td>
                <td>{{vpp.status}}</td>
                <td>
                    <md-button ng-click="viewTopology(vpp)">View Topology</md-button>
                    <md-button ng-click="editVppShowForm(vpp)" ng-hide="vpp.status === 'connected'">Edit</md-button>
                    <md-button ng-click="deleteVpp(vpp)" >Delete</md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-content>
</div>