<div ng-controller="InventoryDetailController">
    <div layout="row" layout-xs="column">
        <!-- Topology -->
        <div class="md-whiteframe-z2" flex="60" layout-margin>
            <md-content layout-padding>
                <h3>Topology</h3>
                <div id="next-vpp-topo"></div>
            </md-content>
        </div>

        <!-- right aligned detail -->
        <div class="md-sidenav-left md-whiteframe-z2" flex layout-margin>
            <md-content layout-padding>
                <h3>VPP Detail</h3>

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><b>VPP Name</b></td>
                        <td>
                            <md-select ng-model='selectedVpp' placeholder="Select VPP" ng-change="selectVpp(vpp)">
                                <md-option ng-repeat="vpp in vppList" ng-value="vpp">{{vpp.name}}</md-option>
                            </md-select>
                        </td>
                    </tr>
                    <tr>
                        <td><b>IP Address</b></td>
                        <td>{{selectedVpp.ipAddress}}</td>
                    </tr>
                    <tr>
                        <td><b>Port</b></td>
                        <td>{{selectedVpp.port}}</td>
                    </tr>
                    <tr>
                        <td><b>Connection Status</b></td>
                        <td>{{selectedVpp.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-content>
        </div>
    </div>

    <div layout="row" flex="100" layout-margin>
        <!-- interfaces list -->
        <div class="md-whiteframe-z2" flex="100">
            <md-content layout-padding>
                <h3>Interface list</h3>
                <table st-table="displayInterfaceList" st-safe-src="selectedVpp.interfaces" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="name" class="interactive">Name</th>
                            <th st-sort="oper-status" class="interactive" >Oper Status</th>
                            <th st-sort="admin-status" class="interactive">Admin Status</th>
                            <th st-sort="phys-address" class="interactive">MAC Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="interface in displayInterfaceList">
                            <td>{{interface.name}}</td>
                            <td>{{interface['oper-status']}}</td>
                            <td>{{interface['admin-status']}}</td>
                            <td>{{interface['phys-address']}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-content>
        </div>
    </div>
</div>